<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
	<meta charset="UTF-8">
	<title>WebGenius Image Sluth Web App</title>
</head>
<body>
    <div class="container">
        <h1>WebGenius Image Sluth Web App</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>URL</th>
                    <th>Action</th>
                </tr>
                <tr>
                    <td><input class="form-control title-input" placeholder="Enter the website name of your choice"><br /><img class="pic" src="assets/images/placeholder.png"></td>
                    <td><input class="form-control url-input" placeholder="Enter the url"></td>
                    <td><button class="btn btn-primary add-blog">Add</button></td>
                </tr>
            </thead>
            <tbody class="blogs-list" data-html="true"></tbody>
        </table>
    </div>

    <script type="text/template" class="blogs-list-template">
        <td><span class="title"><%= title %></span><br/><img class="pic"></td>
        <td>
            <span class="url"><%= url %></span>
        </td>
        <td>
            
        </td>
        <td><button class="btn btn-warning edit-blog">Edit</button> <button class="btn btn-danger delete-blog">Delete</button><button class="btn btn-success update-blog" style="display:none">Update</button> <button class="btn btn-danger cancel" style="display:none">Cancel</button></td>
    </script>

    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>
    <script src="bower_components/backbone/backbone.js"></script>
    <script src="scripts.js"></script>
    <!-- ToDo: Add image scrape query here. -->
    
    <script>
        //pic = JSON.parse(text);
        //document.getElementByClass("title").innerHTML = "";
        //pic.employees[0].firstName + " " + pic.employees[1].lastName;

        //$('img').each(function () {

        //    var imageSrc = this.attr("");
        //    //download from imageSrc - which is url of the image
        //});

        //var noodle = require('noodlejs');


        

        //{
        //    "texts" : <collected texts>,
        //    "images" : <collected images>,
        //    "scripts" : <collected scripts>
        //    }


    </script>

    <!-- blog.webkid.io/nodejs-scraping-libraries/

    

    noodle.query({
    url: 'http://site-you-wanna-scrape.com',
    type: 'html',
    selector: 'p.article',
    extract: 'text'
    })
    .then(function (results) {
    console.log(results);
    });

        -->


</body>

</html>